*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0px !important;
    padding: 0px !important;
}
.txtYellow {
    color: var(--cor-y1) !important;
}
