.font-TitleAll {
    font: bold 4rem "Rubik", sans-serif;
}
.font-TitleMedio {
    font: 600 3rem "Rubik", sans-serif;
}
.font-TitleMedio-s {
    font: 400 2.1rem "Rubik", sans-serif;
}
.font-TitlePq {
    font: 500 1.1rem "Rubik", sans-serif;
}

.font-TextMedio{
    font: 600 2rem "Hind Siliguri", sans-serif;
}
.font-price {
    font: 600 2.1rem "Rubik", sans-serif;
}
.font-coment {
    font: 400 1rem "Hind Siliguri", sans-serif;
}
.font-vtgs {
    font: 600 1.4rem "Hind Siliguri", sans-serif;
}





.font-2-btn {
    font: bold 1.1rem "Rubik", sans-serif;
}



.font-3-txt {
    font: 600 1.08rem "Hind Siliguri", sans-serif;
}
.font-4-frs {
    font: 400 1rem "Hind Siliguri", sans-serif;
}
